
.section {
    height: 100px;
    background-color: #88c1d0;
}
@media screen and (max-width: 767px) {
    .section {
        margin-bottom: 10px;
    }
}


@media screen and (min-width: 768px) and (max-width: 1599px) {
    body {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 10px;
        padding: 20px;
    }
}


@media screen and (min-width: 1600px) {
    body {
        display: flex;
    }

    .section {
        width: 25%;
        margin-right: 10px;
    }

    .section:last-child {
        margin-right: 0;
    }
}

